html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

input[type='text']::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

input[type='text']:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

input[type='text']::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
.page-sections a {
	font-weight: 700;
	text-decoration: none;
	color: rgb(59, 55, 55);
}
body {
	margin: 0;
}
a {
	text-decoration: none !important;
}

.card {
	width: 100%;
	height: 200px;
}
.logo {
	font-size: 50px;
}
.logo-red {
	color: #d6000d;
}
.btn-login {
	background-color: #d6000d;
	color: white !important;
	padding: 5px 20px;
	margin: 20px auto;
	border-radius: 5px;
}

.btn-budget {
	background-color: #d6000d;
	color: white !important;
	padding: 5px 20px;
	border-radius: 10px;
	font-size: 20px;
	width: 300px;
}

.push {
	font-size: 20px;
	height: 100px;
	margin-top: 10%;
}
.amazing-website {
	font-size: 50px;

	color: #d6000d;
}

.benefits-section {
	margin: 10% auto;
	width: 100%;
}
.benefits-list {
	max-width: 300px;
	top: 10%;

	margin: 0 auto;
	font-size: 18px;
}

.benefits-check {
	background-color: #d6000d;
	font-size: 30px;
	border-radius: 50%;
	font-weight: 400;
}
.benefits-section img {
	width: 80%;
	height: auto;
	margin: 5% auto;
}

.btn-wecall {
	background-color: #d6000d;
	color: white !important;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	width: 100%;
}
.btn-wecall a {
	color: white;
}
.input-call {
	background-color: #aaa6a7;
	padding: 10px;
	border-radius: 10px;
	width: 100%;
}

.photo-holder {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: #d6000d;
}

.card-body {
	background-color: #e4e1e2;
	border-radius: 15px;
}

.page-footer {
	position: relative;
	background-color: black;
	top: 100px;
}
.icon {
	color: red;
}
@media screen and (max-width: 900px) {
	.amazing-website {
		font-size: 30px;
		margin: 0 10%;
	}
}
@media screen and (max-width: 700px) {
	img {
		width: 50%;
	}
	.benefits-section img {
		width: 90%;
		height: auto;
		margin: 10% auto;
	}

	.push {
		font-size: 12px;
	}
	.amazing-website {
		font-size: 40px;

		color: #d6000d;
	}

	.benefits-section img {
		width: 70%;
	}
}

@media screen and (max-width: 500px) {
	.benefits-section img {
		width: 50%;
	}
	.benefits-list {
		margin: 0;
	}
	.amazing-website {
		font-size: 30px;
	}
}
